@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --color-white: #fff;

  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-text-light-1: #faf9f9;
  --color-text-light-2: #f4f2f2;
  --color-text-light-3: #f0eeee;
  --color-text-light-4: #ccc;

  --color-text-dark-1: #333;
  --color-text-dark-2: #777;
  --color-text-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --border-bottom: 1px solid var(--color-text-light-2);
}

$bp-evelenhundred: 68.75em; //1100px
$bp-ninehun: 56.25em; //900px
$bp-sevenhun: 43.75em; //700px
$bp-sixhun: 37.5em; //600px
$bp-fivehun: 31.25em; //500px
$bp-fourhun: 25em; //400px

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: $bp-evelenhundred) {
    font-size: 56.25%; //1rem = 9px
  }
  @media only screen and (max-width: $bp-sevenhun) {
    font-size: 50%; //1rem = 8px
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-text-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary));
  background-repeat: no-repeat;

  min-height: 100vh;
}

//Scrollbar
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-light);

  outline: 1px solid #fff;
}

::selection {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}
